.counter {
    display: grid;
    width: 300px;
    place-content: center;
    margin: 20px auto;
}

.counter div {
    display: grid;
    grid-template-columns: 100px 70px 120px;
    justify-items: center;
    opacity: 0.8;
}

.hits {
    color: rgba(var(--success-color), 1);
}

.fails {
    color: rgba(var(--error-color), 1);
}
