.row {
    display: grid;
    opacity: 0.8;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 50px;
    justify-items: left;
    align-items: center;
    font-size: 30px;
    text-transform: capitalize;
}

.row_input {
    opacity: 1;
}

.blur {
    color: var(--no-color);
    text-shadow: 0 0 20px #fff;
}

@media only screen and (max-width: 600px) {
    .row {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        gap: 10px;
    }

    .row_input input {
        font-size: 16px;
        text-align: center;
    }

    .clear {
        display: none;
    }

    .translation {
        color: rgba(var(--text-color));
    }
}
